body,html{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	background: white;
}

.container-fluid{
	padding: 0;
}

/* Header */

.header{
	background-color: white;
	height: 70px;
	line-height: 70px;
}

.logo{
	color: #3498db;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	float: left;
	text-decoration: none;
}

.menu{
	float: right;
}

.menu .btn-warning{
	margin-right: 20px;
	padding: 10px;
	border-radius: 25px;
}

.menu .btn-primary{
	padding: 10px;
	border-radius: 25px;
}

/* Header */

/* About */

.card{
		border-radius: 15px;
}

.about h1{
	text-align: center;
	margin-top: 75px;
	margin-bottom: 75px;
	font-family: 'Permanent Marker', cursive;
	color: #e74c3c;
	font-size: 65px;
}

.card-body{
	text-align: center;
	text-transform: uppercase;
	background: transparent;
}

.card-body h2{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.card-body a{
	text-decoration: none;
	text-align: center;
	color: #3498db;
	letter-spacing: 2px;
	padding: 2px;
}

.card-body a:hover{
	color: #e74c3c;
}

/* About */

/* Footer */

.pieds{
	background-color: white;
	margin-top: 125px;
}

.Copyright{
	text-align: center;
	text-decoration: none;
}

.Copyright a,a:hover{
	text-decoration: none;
	color: #ff6348;
	letter-spacing: 2px;
}

.contact-info{
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
}

.info{
	background: white;
	padding: 0 15px;
	margin: 0 15px;
	width: calc(33% - 20px);
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
}

.info-icon{
	font-size: 28px;
	background:	#ff6348;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	transition: 0.3s linear;
}

.info:hover .info-icon{
	background: none;
	color: #ff6348;
	transform: scale(1.6);
}

.info p{
	margin-top: 25px;
	font-weight: 300;
	letter-spacing: 2px;
	max-height: 0;
	opacity: 0;
	transition: 0.3s linear;
	color: #ff6348;
}

.info:hover p{
	max-height: 40px;
	opacity: 1;
}

@media screen and (max-width: 800px) {
	.contact-info{
		flex-direction: column;
	}
}

/* Footer */
