body,html{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

a, a:hover{
	text-decoration: none;
}

.container-fluid{
	padding: 0;
}

/* Header */

.header{
	background-color: white;
	height: 70px;
	line-height: 70px;
}

.logo{
	color: #3498db;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	float: left;
	text-decoration: none;
}

.menu{
	float: right;
}

.menu .btn-connexion{
	margin-right: 20px;
	padding: 10px;
	border-radius: 25px;
	letter-spacing: 0px;
	background-color: #e67e22;
	color: white;
	transition: 0.5s;
}

.menu .btn-inscription{
	padding: 10px;
	border-radius: 25px;
	letter-spacing: 0px;
	background-color: #3498db;
	color: white;
	transition: 0.5s;
}

.menu .btn-connexion:hover{
	background: white;
	color: #e67e22;
}

.menu .btn-inscription:hover{
	background: white;
	color: #3498db;	
} 

/* Header */

/* Banner */

.carousel-control-prev i{
	color: black;
	font-size: 50px;
}

.carousel-control-next i{
	color: black;
	font-size: 50px;
}


.carousel-item img{
	width: 100%;
	height: auto;
}

/* Banner */

/* About */

.about{
	margin-top: 50px;
	margin-bottom: 15px;
}

.about .card{
	margin-top: 20px;
}

.about .btn-custom{
	padding: 10px;
	border-radius: 25px;
	background-color: #e74c3c;
	color: white;
}

.about h4{
	font-weight: bold;
	text-transform: uppercase;
}


.important .card-body .btn-custom{
	padding: 10px;
	border-radius: 25px;
	background-color: #2ecc71;
	color: white;
}

.card-header{
	background-color: #2ecc71;
	text-transform: uppercase;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	font-size: 15px;
}

.important{
	margin-top: 25px;
}

/* About */

/* Footer */

.pieds{
	background-color: white;
}

.Copyright{
	text-align: center;
	text-decoration: none;
}

.Copyright a,a:hover{
	text-decoration: none;
	color: #ff6348;
	letter-spacing: 2px;
}

.contact-info{
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
}

.info{
	background: white;
	padding: 0 15px;
	margin: 0 15px;
	width: calc(33% - 20px);
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
}

.info-icon{
	font-size: 28px;
	background:	#ff6348;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	transition: 0.3s linear;
}

.info:hover .info-icon{
	background: none;
	color: #ff6348;
	transform: scale(1.6);
}

.info p{
	margin-top: 20px;
	font-weight: 300;
	letter-spacing: 2px;
	max-height: 0;
	opacity: 0;
	transition: 0.3s linear;
	color: #ff6348;
}

.info:hover p{
	max-height: 40px;
	opacity: 1;
}

@media screen and (max-width: 800px) {
	.contact-info{
		flex-direction: column;
	}

	.card{
		width: 100%;
		max-width: 300px;
		margin: 10px 0;
	}
}

/* Footer */